body {
    /* background-image: url("./hip-square.png") !important;
    background-repeat: repeat !important; */
    background-color: #ffffff !important;
background-image: url("https://www.transparenttextures.com/patterns/climpek.png") !important;
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  }